
<ion-header no-border>

        <ion-navbar color = "light">
            <ion-title>Devices Owned </ion-title>
        </ion-navbar>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-header>
    <ion-content padding>

<ion-list>
        <ng-container *ngFor="let d of countryList">

                <ion-card>
                        <ion-list>
                          <button color = "light" ion-item detail-push navPush="EditDevicePage" [navParams]="{d:d}" *ngIf="d.email ===  me$"> Device ID: {{d.deviceID}}
                            <ion-icon name="ios-help-buoy" item-start></ion-icon>
                          </button>
                        </ion-list>
                      </ion-card>
            </ng-container>

</ion-list>
    </ion-content>